@page
@model APILP3.Areas.Identity.Pages.Account.Manage.FinalizarCompraModel
@{
    ViewData["Title"] = "Feira & Office";
    Layout = "/Views/Shared/LayoutProdutos.cshtml";
}

<h3>Produtos Selecionados</h3>

<table class="table">
    <thead>
        <tr>
            <th>ID do produto</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Unidade</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>

        <tr id="produtosSelecionados">
                
            </tr>
        
    </tbody>
</table>


<h3>Formulário de Morada de Envio</h3>
<form id="shippingAddressForm" method="post">

    <label for="shippingAddress1">Endereço 1:</label>
    <input type="text" id="shippingAddress1" name="shippingAddress1" required>

    <label for="shippingAddress2">Endereço 2:</label>
    <input type="text" id="shippingAddress2" name="shippingAddress2">

    <label for="shippingPostalCode">Código Postal:</label>
    <input type="text" id="shippingPostalCode" name="shippingPostalCode" required>

    <label for="shippingCity">Cidade:</label>
    <input type="text" id="shippingCity" name="shippingCity" required>

    <label for="shippingCountry">País:</label>
    <input type="text" id="shippingCountry" name="shippingCountry" required>

    <input type="hidden" id="productsDataAuxInput" name="productsDataAux" />
    <button id="order-submit" type="submit" class="w-100 btn btn-lg btn-primary">
        Finalizar Compra
    </button>
</form>




<script>
    // Recuperar os dados do localStorage
    var productsData = localStorage.getItem('selectedProducts');
    console.log(productsData)
    productsDataAux = JSON.parse(productsData)
    // Verificar se há dados no localStorage
    if (productsDataAux) {

        // Atualizar a tabela com os produtos selecionados
        var tableBody = document.querySelector('#produtosSelecionados tbody');
        console.log(productsDataAux)
        for (var product of productsDataAux) {
            var id = product.id;
            var descricao = product.description;
            var preco = product.pvp;
            var unidade = product.unit;
            var quantidade = product.quantity;


            // Adicionar a linha à tabela
            var newRow = document.createElement('tr');
            newRow.innerHTML = `
                            <td>${id}</td>
                            <td>${descricao}</td>
                            <td>${preco}</td>
                            <td>${unidade}</td>
                            <td>${quantidade}</td>
                        `;
            document.querySelector('table tbody').appendChild(newRow);

            document.getElementById('productsDataAuxInput').value = JSON.stringify(productsDataAux);
            console.log(productsDataAux);

        }
    }

</script>

